# Ignore all .log files
*.log

# Ignore the node_modules directory
theme/classic
theme/boost
yourplugin/metadatos.zip
JenaPellet/demo/target/demo-1.0-SNAPSHOT.jar
JenaPellet/demo/target/demo-1.0-SNAPSHOT.jar.original
JenaPellet/demo/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
JenaPellet/demo/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
JenaPellet/demo/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
JenaPellet/demo/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
